flask==2.1.0
aiogram==2.24
requests
python-dotenv

# pygsheets
google-auth
tzdata
gspread


# pytelegrambotapi==4.0.0

# Для гугл таблиц 
# gspread 
# oauth2client
# google-api-python-client
# для okato-oktmo
# pandas
# xlsxwriter